.bulk-menu-wrapper {
  display: flex;
  width: fit-content;
  gap: 5px;
  align-items: baseline;
  background-color: #f8f9fa;
  padding: 10px 15px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}


